.profile {
  display: flex;
  flex-direction: column;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  text-align: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
}

.description {
  background-color: coral;
  margin-top: 20px;
  display: block;
  width: 512px;
  min-height: 100px;
  border: 4mm ridge rgba(170, 50, 220, 0.6);
}
.avatar {
  padding-top: 10px;
}

.stats {
  background-color: coral;
  display: block;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  width: 512px;
  min-height: 100px;
  border: 4mm ridge rgba(170, 50, 220, 0.6);
  padding-top: 10px;
}
